body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.game {
  text-align: center;
  font-family: Arial, sans-serif;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin: 20px auto;
  text-align: center;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
}

.info {
  margin-top: 20px;
}
